
<h3 id="data">Step 6. Data Files</h3>


<p>
  In order to follow along with the workshop on your device, you will need to download the data we will be using.
</p>

<p>
  This is a list of data files you will need to download and move to your <b>desktop</b>.
  <ul>
    1. Data for the Unix Shell lesson. Download <a href="https://swcarpentry.github.io/shell-novice/data/shell-lesson-data.zip" target="_blank">shell-lesson-data.zip</a>. Unzip/extract the file. You should end up with a new folder called shell-lesson-data on your Desktop.<br>
    2. Data for the Python lesson. The data we will be using is taken from the <a href="https://en.wikipedia.org/wiki/Gapminder_Foundation" target="_blank">gapminder dataset</a>. To obtain it, download and unzip the file <a href="https://swcarpentry.github.io/python-novice-gapminder/files/python-novice-gapminder-data.zip">python-novice-gapminder-data.zip.</a> After extracting and moving the files onto your desktop, you should have a folder named "data" on your desktop
  </ul>
</p>
